:root {
  --brand-clr: #2196f3;
  --white-clr: #ffffff;
  --transparent-clr: rgba(255, 255, 255, 60%);
  --nuance-clr: #f5f4fa;
  --work-bgd: #eeeeee;
  --border-clr: #ececec;
  --overlay-hero: rgba(47, 48, 58, 0.4);
  --sub-hero: #c4c4c4;
  --txt-clr: #757575;
  --footer-clr: #2f303a;
  --contrast-clr: #212121;
  --black-clr: #000000;
  --shadow-clr: rgba(0, 0, 0, 25%);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--txt-clr);
  background-color: var(--white-clr);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* body * {
  outline: 1px dashed tomato;
} */

address {
  font-style: inherit;
}

/* +++++++++++++++++++++++++++

  Свойства глобальных классов

+++++++++++++++++++++++++++ */

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.horisontal-orientation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-clr {
  color: var(--brand-clr);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* +++++++++++++++++++++++++++

           HEADER

+++++++++++++++++++++++++++ */

.header-section {
  border-bottom: solid 1px var(--border-clr);
}

.header-section .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-item,
.header-contact {
  display: block;
  padding: 32px 0;
}

.logo-black {
  color: var(--black-clr);
}

.header-section .logo {
  margin-right: 93px;
}

/* Блок навигации и контакты */

.nav-item,
.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.nav-item {
  color: var(--contrast-clr);
}

.current {
  color: var(--brand-clr);
}

.nav-menu li:not(:last-child),
.contacts li:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  margin-left: auto;
}

/* +++++++++++++++++++++++++++

           FOOTER

+++++++++++++++++++++++++++ */

.footer-section {
  padding: 60px 0px;
  background-color: var(--footer-clr);
}

.footer-section .container {
  align-items: flex-start;
}

.logo-white {
  color: var(--white-clr);
  display: block;
  margin-bottom: 20px;
}

/* Контакты */

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  width: 232px;
  margin-right: 70px;
}

.footer-address,
.footer-contact {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--white-clr);
}

.footer-contact {
  color: var(--transparent-clr);
}

/* Соцсети */

.downshift {
  padding-top: 12px;
}

.join {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-clr);
}

.footer-social li:not(:last-child) {
  margin-right: 10px;
}

/* +++++++++++++++++++++++++++

           СТУДИЯ

+++++++++++++++++++++++++++ */

/* HERO */

.section-hero {
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: 50%;

  background-color: var(--sub-hero);
  /* background-color: var(--overlay-hero); */

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  font-weight: 900;
  font-size: 44px;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-clr);
  margin-bottom: 30px;
}

.order-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-clr);
  background-color: var(--brand-clr);
}

/* Наши преимущества */

.section:nth-child(2) {
  padding-bottom: 0px;
}

.benefits {
  width: 270px;
}

.benefit-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--contrast-clr);
}

.benefit-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-clr);
}

.benefits:not(:last-child),
.work:not(:last-child),
.employee:not(:last-child),
.clients li:not(:last-child) {
  margin-right: 30px;
}

/* Направления деятельности */

.works,
.team,
.clients {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contrast-clr);
}

.work img,
.link img {
  display: block;
}

/* Члены команды */

.section-team {
  background-color: var(--nuance-clr);
}

.employee {
  width: 270px;
  padding-bottom: 30px;

  background-color: var(--white-clr);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 12%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 14%);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 20%);
}

.employee img {
  margin-bottom: 30px;
}

.name,
.position {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--contrast-clr);
}

.position {
  color: var(--txt-clr);
}

/* +++++++++++++++++++++++++++

           ПОРТФОЛИО

+++++++++++++++++++++++++++ */

/* верхний блок */

.buttons {
  margin-bottom: 50px;
  justify-content: center;
}

.buttons li:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--contrast-clr);
  background-color: var(--nuance-clr);
}

/* нижний блок */

.wrapper {
  flex-wrap: wrap;
}

.projects {
  margin-right: 30px;
  margin-bottom: 0px;
}

.projects:nth-child(3n) {
  margin-right: 0;
}

.projects:nth-last-child(n + 4) {
  margin-bottom: 30px;
}

.img-sign {
  padding: 20px 24px;
  background: var(--white-clr);
  border-top: none;
  border-bottom: 1px solid var(--work-bgd);
  border-left: 1px solid var(--work-bgd);
  border-right: 1px solid var(--work-bgd);
}

.project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--contrast-clr);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-clr);
}

/* +++++++++++++++++++++++++++

        HOVERs & FOCUSes

+++++++++++++++++++++++++++ */

.nav-item:hover,
.nav-item:focus,
.header-contact:hover,
.header-contact:focus,
.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-clr);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-clr);
  background-color: var(--brand-clr);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 10%);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 8%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 12%);
  outline: none;
}

.projects:hover {
  box-shadow: 0px 4px 4px 0px var(--shadow-clr);
}

a:focus {
  outline-color: #0000002d;
}
